
<% link_to article do %>
    <article class="<%=article.slug%>">

      <header>
        <h2>
            <span><%=article.data.client%></span>
            <span><%=article.data.work_title%></span>
        </h2>

      </header>

    </article>
<% end %>