<a href="/availability/" class="available">
    <h1>I am available for projects starting <%=1.week.since.beginning_of_week.strftime("#{1.week.since.beginning_of_week.day.ordinalize} of %B, %Y")%></h1>
    <p>Click here to find out more about how I can help you.</p>
</a>