<ul class="social">
  <li>
    <a href="http://twitter.com/fearmediocrity" title="Follow James Pearson on Twitter" class="twitter">
      <span>Twitter</span>
    </a>
  </li>

  <li>
    <a href="http://uk.linkedin.com/in/jspearson/" title="Connect with James Pearson on Linked In" class="linkedin">
      <span>LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/105044739312097276382?rel=author" title="See James Pearson's posts on Google+" class="googleplus">
      <span>Google+</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/FearMediocrity" title="See James Pearson's work on GitHub" class="github">
      <span>GitHub</span>
    </a>
  </li>

  <li>
    <a href="skype:fearmediocrity?call" title="Contact James Pearson on Skype" class="skype">
      <span>Skype</span>
    </a>
  </li>

</ul>