html{

  body{

    > .secondary{
      @include clearfix;

      > article{
        border-bottom: 3px solid orange;
        float: left;

        > footer {
          @include font-size(1.4);
          background: #CECECE;
          color: $white;
          padding: 10px;
          margin: 0;

          > div{

          }

        }
      }


      @include medium{

        > article{
            width: 50%;

            > footer{
              position: relative;
              height: 50px;

              > div{

                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &:first-child{
                  left: 10px;
                }
                &:last-child{
                  right: 10px;
                }
              }
            }
        }
      }
    }
  }
}