
.secondary {

  article {

    &.blog {

      > header{

        h2{
          @include font-size(3.8, 3.8);

          padding: 10px;
          text-transform: uppercase;
          a{
            color: $black;
          }
        }
      }

      > div {
        display: none;
        padding: 0 10px;

        p{
          @include font-size(1.6);
        }
      }


    }

  }

}