
ul.social{
  font-family: SSSocialCircle;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  li{
    display: inline-block;
    text-align:center;
    width: 10%;

    a{
      display: inline;
      text-decoration: none;
      text-align: center;

      &:before {
        @include font-size(2, 1);
        color: rgba($white, 0.5);
        font-weight: normal;
        text-align: center;

      }

      &[href*="twitter.com"]:before {     content: 'twitter';}
      &[href*="linkedin.com"]:before {    content: 'linkedin'; }
      &[href*="plus.google.com"]:before { content: 'google+'; }
      &[href*="github.com"]:before {      content: 'githuboctocat'; }
      &[href*="/contact/"]:before {       content: 'contact'; }
      &[href*="skype:"]:before {         content: 'skype'; }

      span{
        display: none
      }
    }
  }

}