
ul.social{
  font-family: fontello;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  li{
    display: inline-block;
    text-align:center;
    width: 10%;

    a{


      display: block;
      height: 30px;
      position: relative;
      text-decoration: none;
      text-align: center;

      span{
        background: transparent;
        color: rgba($white, 0.5);
        height: 40px;
        font-size: 0;

        &:before {
          @include font-size(2.4, 2.8);


          left: 50%;

          position: absolute;
          top: 50%;

          text-align: center;
          transition: color 0.5s ease-out;
          transform: translate(-50%, -50%), rotateZ(360deg);
          transform-origin: 50% 50%;
          vertical-align: middle;
        }
      }



      &:hover{

        span{
          color: rgba($white, 1);
        }
      }

      &[href*="twitter.com"] span:before {     content: '\e802';}
      &[href*="linkedin.com"] span:before {    content: '\e801'; }
      &[href*="plus.google.com"] span:before { content: '\e805'; }
      &[href*="github.com"] span:before {      content: '\e804'; }
      &[href*="/contact/"] span:before {       content: '\e800'; }
      &[href*="skype:"] span:before {          content: '\e803'; }


    }
  }

  @include small-only{

    li{
      width: 19%;
    }
  }
}