
ul.social{
  font-family: fontello;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  li{
    display: inline-block;
    text-align:center;
    width: 10%;

    a{
      transition: all 0.5s ease-out;
      transform-origin: 50% 50%;
      display: inline;
      position: relative;
      text-decoration: none;
      text-align: center;

      &:before {
        @include font-size(2, 1);

        color: rgba($white, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: normal;
        line-height: 30px;
        text-align: center;
        transition: all 0.5s ease-out;


      }

      &:hover{

        &:before{
          @include font-size(2.5, 1);
          color: rgba($white, 1);
          line-height: 30px;
        }
      }

      &[href*="twitter.com"]:before {     content: '\e802';}
      &[href*="linkedin.com"]:before {    content: '\e801'; }
      &[href*="plus.google.com"]:before { content: '\e805'; }
      &[href*="github.com"]:before {      content: '\e804'; }
      &[href*="/contact/"]:before {       content: '\e800'; }
      &[href*="skype:"]:before {          content: '\e803'; }

      span{
        display: none
      }
    }
  }

}