<% content_for :page_class do %>
    archive article
<% end %>

<% content_for :main_class do "article-list" end %>

<% layout = "default" %>
<% layout = "pjax" if request.params["_pjax"] %>

<% wrap_layout layout do %>
    <%= yield %>

    <section class="summary summary-blog">
    <% page_articles.each_with_index do |article| %>
        <%=partial "article-summary-blog", locals: {article: article} %>
    <% end %>
    </section>
<% end %>
