
<% article = current_article %>

<% content_for :page_class do %>
    content work <%=article.slug%>
<% end %>

<% content_for :header do %>

    <h1>
        <span><%=article.data.client%></span>
        <span><%=article.data.work_title%></span>
    </h1>

    <p>whilst working with <a href="http://somewhat.cc" rel="nofollow">Somewhat</a></p>

<% end %>



<% content_for :critical_css do %>

    <style>

        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        header,section {
            display: block;
        }

        a {
            background: transparent;
        }

        input {
            color: inherit;
            font: inherit;
            margin: 0;
        }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        input {
            line-height: normal;
        }

        html,input {
            color: #222;
        }

        body {
            font-size: 1em;
            line-height: 1.4;
        }

        a {
            color: #00e;
        }

        [class*=" icon-"]:before {
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
        }

        .icon-home:before,html body>header .home:before {
            content: '\e800';
        }

        * {
            box-sizing: border-box;
            outline: none !important;
        }

        html,body {
            font-family: "proxima-nova",sans-serif;
            font-size: 10px;
            min-height: 100%;
            margin: 0;
            padding: 0;
        }

        html p,body p {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 22.4px;
            line-height: 2.24rem;
            color: #e5e5e5;
        }

        a,a:link {
            outline: none;
            text-decoration: none;
        }

        html {
            background: -webkit-radial-gradient(100% 100%, ellipse farthest-side, #cccccc 10%, #85d8ce 50%, #085078 120%) repeat scroll 0 0 transparent;
            background: radial-gradient(ellipse farthest-side at 100% 100%, #cccccc 10%,#85d8ce 50%,#085078 120%) repeat scroll 0 0 transparent;
            font-size: 10px;
            margin: 0;
            padding: 0;
            min-height: 100%;
        }

        html body {
            position: relative;
            position: relative;
            margin: 0;
            min-height: 100%;
            padding: 0 0 40px;
        }

        html body::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            z-index: 9;
            display: none;
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.15) 100%);
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.15) 100%);
            background-size: 100% 26px;
        }

        html body>header .home {
            display: block;
            color: #ffffff;
            text-align: center;
            font-size: 0;
        }

        html body>header .home:before {
            font-size: 20px;
            font-size: 2rem;
            line-height: 32px;
            line-height: 3.2rem;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            border-radius: 100%;
            font-size: 2rem;
            height: 40px;
            line-height: 2;
            margin: 0 auto 20px;
            text-align: center;
            width: 40px;
        }

        @media only screen and (min-width: 620px) {
            html body {
                margin: 0 auto;
                width: 680px;
            }
        }

        html body>footer>form>div label {
            display: none;
        }

        html body>header {
            padding-bottom: 20px;
        }

        html body>header p {
            font-size: 40px;
            font-size: 4rem;
            line-height: 64px;
            line-height: 6.4rem;
            color: #ffffff;
            text-align: center;
        }

        html body.content>header {
            border-bottom: 3px solid rgba(255,255,255,0.5);
            padding-top: 40px;
            margin-bottom: 20px;
        }

        html body.content>header h1 {
            margin: 0;
        }

        html body.content>header h1 span {
            font-size: 40px;
            font-size: 4rem;
            line-height: 64px;
            line-height: 6.4rem;
            color: #ffffff;
            display: block;
            padding: 0 60px;
            margin: 0;
            text-align: center;
        }

        html body.content>header h1 span:first-child {
            font-size: 26px;
            font-size: 2.6rem;
            line-height: 41.6px;
            line-height: 4.16rem;
            color: rgba(255,255,255,0.5);
        }

        html body.content>header p {
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 25.6px;
            line-height: 2.56rem;
            color: rgba(255,255,255,0.5);
            margin: 0;
        }

        html body.content>header p a {
            color: #ffffff;
            background: rgba(255,255,255,0.25);
            padding: 0 5px;
        }

        html body.content>div h2 {
            border-bottom: 2px solid rgba(255,255,255,0.5);
            padding: 20px 0;
            color: rgba(255,255,255,0.5);
            font-size: 1.8rem;
            line-height: 1;
        }

        html body.content>div h3 {
            margin: 0;
            padding: 20px 0;
            color: rgba(255,255,255,0.5);
            font-size: 1.6rem;
            line-height: 1;
        }

        html body.content>div ul {
            margin: 0;
        }

        html body.content>div ul li {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 22.4px;
            line-height: 2.24rem;
            color: #e5e5e5;
        }

        @media only screen and (max-width: 619px) {
            html body.content>header h1 span {
                font-size: 30px;
                font-size: 3rem;
                line-height: 48.0px;
                line-height: 4.8rem;
                color: #ffffff;
                padding: 0 20px;
            }

            html body.content>header h1 span:first-child {
                font-size: 20px;
                font-size: 2rem;
                line-height: 32px;
                line-height: 3.2rem;
            }

            html body.content>header p {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
            }

            html body.content>div h2,html body.content>div h3 {
                padding-left: 20px;
                padding-right: 20px;
            }

            html body.content>div p {
                font-size: 18px;
                font-size: 1.8rem;
                line-height: 28.8px;
                line-height: 2.88rem;
                padding-left: 20px;
                padding-right: 20px;
            }

            html body.content>div ul li {
                font-size: 18px;
                font-size: 1.8rem;
                line-height: 28.8px;
                line-height: 2.88rem;
            }
        }

        ul.social li a span {
            display: none;
        }

        html body.work>div.masthead {
            background-size: 680px 225px;
            padding-bottom: 33%;
            opacity: 0.5;
        }

        html body.work>div.body {
            margin-top: 20px;
            border-top: 3px solid rgba(255,255,255,0.5);
        }

    </style>
<% end %>

<% wrap_layout :default do %>

    <div class="masthead">

    </div>

    <div class="body">
      <%=yield%>
    </div>


    <div class="gallery">

      <h2>Project Gallery</h2>
      <ul>
        <li><a href="#" title>Title 1</a></li>
        <li><a href="#">Title 1</a></li>
        <li><a href="#">Title 1</a></li>
        <li><a href="#">Title 1</a></li>
      </ul>

    </div>
<% end %>
