@media #{$x-small-up}{

html{
  body{

    .container{

      > header{
        padding: 5%;

        > a{
          display: block;

          .avatar{
            background-image: image-url('avatar_80x80.jpg');
            border-radius: 40px;
            display: inline-block;
            height: 80px;
            margin-right: 20px;
            vertical-align: top;
            width: 80px;
          }

          img{

          }

          p{
            @include font-size(1.8);
            color: $white;
            display: inline-block;
            margin: 13px 0 0;
            padding: 0;


            span{
              @include font-size(1.4);
              color: rgba($white, 0.5);
              display: block;
            }
          }
        }
        p{
          display: none;
        }

        .social{
          display: none;
        }
      }

      > .main{
        padding: 5%;

        > header{

        }

        article{
          &.article-list{
            > header{
              h2{
                @include font-size(1.8);
              }

              p{
                span{
                  display: none;
                }
                a{

                }
              }
            }

            .body{
              p{

              }
            }
          }
        }
      }

      > footer{
        p{

        }
      }

    }
  }
}

}
@media #{$x-small-only} {

  html{
    body{

      .container{

        > header{
          p{

            &:first-child{

              a{

              }

            }
          }

        }

        > .main{

          &.article{

          }

          &.article-list{
            article{
              > header{
                h2{

                }

                p{
                  a{

                  }
                }
              }

              .body{
                p{

                }
              }

            }
          }

        }

        > footer{
          p{

          }
        }

      }
    }
  }

}