@mixin font-size($fontsize: 1, $lineheight: $fontsize * 1.6 ){
  font-size: ($fontsize * 10) + px;
  font-size: $fontsize + rem;
  line-height: ($lineheight * 10) + px;
  line-height: $lineheight + rem;
}

@mixin line-height($lineheight: 1.6){
  line-height: ($lineheight$lineheight * 10) + px;
  line-height: $sizeValue + rem;
}

.hidden{
  display: none;
}
.inline_list{
  @extend .clearfix;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    float: left;
    margin: 0;
  }
}

@mixin inline_list{
  @extend .clearfix;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    float: left;
    margin: 0;
  }
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix{
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}



.button{
  @include font-size(1.4);
  border: 2px solid rgba($white, 0.5);
  border-radius: 2px;
  color: $white;
  display: block;
  height: 40px;
  position: relative;


  span{
    position: absolute;
    left: 50%;
    letter-spacing: 3px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}