@import "_vendor/normalize";
@import "_vendor/h5bp";
@import "utils";

@import "colors";

@import "typography";
@import "mixins";

@import "code_highlight";


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  outline: none !important;
}

html, body{
  @include body-font;

  font-size: 10px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

a, a:focus, a:link, a:active, a:visited, img{
  outline: none;
  text-decoration: none;
}


html {
  font-size: 10px;

  body {
    @include baseline-grid();

    position: relative;

  }
}