html{
  body{

    > .available{
      background: rgba($black,0.5);
      border-radius: 3px;
      display: block;
      padding: 10px 20px;
      margin-bottom: 20px;

      h1{
        @include font-size(2.2);
        color: $white;
        text-align:center;
        margin: 0;
      }

      p{
        @include font-size(1.8);
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}