html{
  body{
    > footer{
      @include font-size(1.4);

      float: left;
      padding-bottom: 40px;
      width: 100%;

      > header{
        border-bottom: 2px solid rgba($white, 0.5);
        margin: 20px 0;

        h3 {
          @include font-size(1.8);
          color: rgba($white, 0.5);
          line-height: 1;
        }
      }

      >p{
        color: $body_paragraph;
        margin: 20px 0;
      }

      > form {
        @include clearfix;
        > div {
          float: left;
          width: 48%;

          &:last-child {
            float: right;
          }

          label {
            display: none;
          }

          input[type=text],
          input[type=email],
          textarea {

            -webkit-appearance: none;
            border: 0;
            padding: 10px;
            margin-bottom: 20px;
            opacity: 0.5;
            width: 100%;

            &:focus {
              opacity: 1;
            }

          }

          textarea {

            height: 100px;
            resize: none;
          }

          input[type=submit] {
            @extend .button;
            -webkit-appearance: none;
            background: transparent;
            width: 100%;
          }
        }
      }

      > .social{
        margin-top: 40px;
      }
    }


    @include small-only {
      > footer{

        > header{
          padding-left: 20px;
          padding-right: 20px;
        }

        > p{
          @include font-size(1.8);
          padding-left: 20px;
          padding-right: 20px;
        }

        > form {
          > div {
            padding: 0 20px;
            width: 100%;

            input[type=text],
            input[type=email],
            textarea{
              @include font-size(1.8);
            }


          }
        }
      }
    }
  }
}