html{
  body{
    > footer{
      @include font-size(1.4);

      float: left;
      padding-bottom: 80px;
      width: 100%;

      > header{
        border-bottom: 2px solid rgba($white, 0.5);
        margin: 20px 0;

        h3 {
          @include font-size(1.8);
          color: rgba($white, 0.5);
          line-height: 1;
        }
      }

      >p{
        color: $body_paragraph;
        margin: 20px 0;
      }

      > form {
        @include clearfix;
        > div {
          float: left;
          width: 48%;

          &:last-child {
            float: right;
          }

          label {
            display: none;
          }

          input[type="text"],
          input[type="email"],
          textarea {
            @include font-size(1.6);
            -webkit-appearance: none;
            border: 0;
            padding: 15px 10px;
            margin: 15px 0;
            opacity: 0.5;
            transition: opacity 0.5s ease-out;
            width: 100%;

            &:focus {
              transition: opacity 0.5s ease-out;
              opacity: 1;
            }

          }

          textarea {

            height: 142px;
            resize: none;

          }

          input[type="submit"] {
            @extend .button;
            -webkit-appearance: none;
            background: transparent;
            margin-top: 10px;
            width: 100%;
          }
        }


      }

      > aside{

        margin-top: -40px;
        float: left;
        color: #e5e5e5;

        p{
          margin: 0;

          a{
            display: inline-block;
            background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
            color: $white;
            padding: 5px;

            &:hover{
              color: $white;
            }
          }
        }
      }

      > .social{
        margin-top: 40px;
      }
    }


    @include small-only {
      > footer{

        > header{
          padding-left: 20px;
          padding-right: 20px;
        }

        > p{
          @include font-size(1.8);
          padding-left: 20px;
          padding-right: 20px;
        }

        > form {
          > div {
            padding: 0 20px;
            width: 100%;

            input[type="text"],
            input[type="email"],
            textarea{
              @include font-size(1.8);
              margin-bottom: 30px;
              min-height: 60px;
            }

          }
        }

        > aside{
          text-align: center;
          margin-top: 0;
          padding: 20px;

        }
      }
    }
  }
}