html{
    body{
        > header{
          padding-bottom: 60px;

          p{
            @include font-size(4.0);
            color: $white;

            text-align: center;
          }

        }


    }
}