html{

  body{

    > .primary {
    }

    @include medium {

      > .primary {
        border-right: 3px solid #CECECE;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 90px;
        width: 50%;

        background: green;
      }
    }
  }
}