html{

  body{

    > .secondary {
    }

    @include medium {

      > .secondary {
        float: right;
        margin-top: 90px;
        min-height: 200px;
        position: relative;
        width: 50%;
      }
    }
  }
}