.summary-blog{

  > article{

    border-bottom: 1px solid rgba($white, 0.5);
    padding: 20px 0;

    > header{
      h2{
        @include font-size(2.1);
        color: $white;
        letter-spacing: 3px;
        line-height: 1.4;
        margin: 0;
        a{
          color: $white;
        }
      }

      > div{
        color: rgba($white, 0.5);
      }
    }

    > .body{

    }

    &:last-of-type{
      border-bottom: 0;
    }
  }
}