---
layout: default
---

<% content_for :page_class do %>
    content error404
<% end %>


<% content_for :header do %>

    <h1>
      <span>404</span>
      <span>Page Not Found</span>
    </h1>

<% end %>

<p>The page you were looking for could not be found. While I search for it, please remain calm and watch this video:</p>

<iframe src="//www.youtube.com/embed/E4Kx-jqDgRo?&autoplay=1&start=22&rel=0" frameborder="0" allowfullscreen></iframe>