---
layout: default
---


<% content_for :page_class do %>
    content
<% end %>

<% content_for :header do %>
    <h1>
      <span>Availability</span>
    </h1>
<% end %>

<div>

    <p>I am currently available for projects. If you need a copy of my CV you can find it <a href="/cv/current.pdf" title="Download James Pearson's CV" target="_blank">here</a></p>

    <h2>What I can do for you?</h2>
    <p>I am a senior web developer with over 10 years experience. I code to a high standard, and can help your project reach new levels.</p>

    <h2>What am I looking for?</h2>
    <p>I like working on projects of all sizes. I like to be able to advise on the best route to take, and been involved in the decission making process.</p>
    <p>I've managed small to medium teams, and small to medium projects, but I'm erqually happy sitting in my office alone programming away.</p>

    <h2>Not all web developers are equal</h2>
    <p>I've worked with clients including Chelsea F.C., Tesco and BP. I've also worked with small one man shops, and small team startups.</p>
    <p>I know the little things that you don't need to know, that will take your project from an A to an A++.</p>

    <h2>Frequently asked questions</h2>

    <h3>Where are you based?</h3>
    <p>I have an <a href="https://www.google.co.uk/maps/@52.06032,-0.8346769,3a,60.8y,200.23h,89.08t/data=!3m4!1e1!3m2!1ssPeELK8vuAOzf91i6PK5Mw!2e0" target="_blank">office here</a>, in Milton Keynes, England. I prefer to work remotely, but can come in to your office a couple of days a week if required.</p>

    <h3>What is Ruby on Rails? Do I need it?</h3>
    <p>Ruby on Rails is a framework for web based applications. It's something I'm skilled at using, and can make powerful web applications quickly. You don't need to know more than that, unless you want to.</p>

    <h3>Do you have any references?</h3>
    <p>Add me on <a href="http://uk.linkedin.com/in/jspearson/">LinkedIn</a> and you'll be able to see a host of recommendations from past clients. If your not a LinkedIn member then get in touch and I'd be happy to provide some.</p>

    <h3>What's your day rate?</h3>
    <p>Get in touch at <a href="mailto:james@fearmediocrity.co.uk">james@fearmediocrity.co.uk</a> or using the contact form below and we can talk.</p>
</div>