---
layout: article_list
pageable: true
---

<% content_for :header do %>
    <header>
      <h1>
        <span>Archive for</span>
        <span>
           <% case page_type
                when 'day' %>
                    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
                <% when 'month' %>
                    <%= Date.new(year, month, 1).strftime('%b %Y') %>
                <% when 'year' %>
                    <%= year %>
            <% end %>
        </span>
      </h1>
    </header>
<% end %>