---
layout: article_list
pageable: true
per_page: 12
---

<% content_for :header do %>
<header>
    <h1>
      <span>Articles tagged</span>
      <span><%= tagname.titleize %></span>
    </h1>
</header>
<% end %>