---
layout: article_list
pageable: true
per_page: 12
---

<% content_for :critical_css do %>
    <style>
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        article,footer,header,section {
            display: block;
        }

        a {
            background: transparent;
        }

        input,textarea {
            color: inherit;
            font: inherit;
            margin: 0;
        }

        input[type="submit"] {
            -webkit-appearance: button;
            cursor: pointer;
        }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        input {
            line-height: normal;
        }

        textarea {
            overflow: auto;
        }

        html,input,textarea {
            color: #222;
        }

        body {
            font-size: 1em;
            line-height: 1.4;
        }

        a {
            color: #00e;
        }

        textarea {
            resize: vertical;
        }

        [class*=" icon-"]:before {
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
        }

        .icon-home:before,html body>header .home:before {
            content: '\e800';
        }

        html body>footer>form>div input[type=submit] {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 22.4px;
            line-height: 2.24rem;
            border: 2px solid rgba(255,255,255,0.5);
            border-radius: 2px;
            color: #ffffff;
            display: block;
            height: 40px;
            position: relative;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

        * {
            box-sizing: border-box;
            outline: none !important;
        }

        html,body {
            font-family: "proxima-nova",sans-serif;
            font-size: 10px;
            min-height: 100%;
            margin: 0;
            padding: 0;
        }

        html p,body p {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 22.4px;
            line-height: 2.24rem;
            color: #e5e5e5;
        }

        a,a:link {
            outline: none;
            text-decoration: none;
        }

        html {
            background: -webkit-radial-gradient(100% 100%, ellipse farthest-side, #cccccc 10%, #85d8ce 50%, #085078 120%) repeat scroll 0 0 transparent;
            background: radial-gradient(ellipse farthest-side at 100% 100%, #cccccc 10%,#85d8ce 50%,#085078 120%) repeat scroll 0 0 transparent;
            font-size: 10px;
            margin: 0;
            padding: 0;
            min-height: 100%;
        }

        html body {
            position: relative;
            position: relative;
            margin: 0;
            min-height: 100%;
            padding: 0 0 40px;
        }

        html body::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            z-index: 9;
            display: none;
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.15) 100%);
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.15) 100%);
            background-size: 100% 26px;
        }

        html body>header .home {
            display: block;
            color: #ffffff;
            text-align: center;
            font-size: 0;
        }

        html body>header .home:before {
            font-size: 20px;
            font-size: 2rem;
            line-height: 32px;
            line-height: 3.2rem;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            border-radius: 100%;
            font-size: 2rem;
            height: 40px;
            line-height: 2;
            margin: 0 auto 20px;
            text-align: center;
            width: 40px;
        }

        @media only screen and (min-width: 620px) {
            html body {
                margin: 0 auto;
                width: 680px;
            }
        }

        html body>footer {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 22.4px;
            line-height: 2.24rem;
            float: left;
            padding-bottom: 40px;
            width: 100%;
        }

        html body>footer>header {
            border-bottom: 2px solid rgba(255,255,255,0.5);
            margin: 20px 0;
        }

        html body>footer>header h3 {
            font-size: 18px;
            font-size: 1.8rem;
            line-height: 28.8px;
            line-height: 2.88rem;
            color: rgba(255,255,255,0.5);
            line-height: 1;
        }

        html body>footer>p {
            color: #e5e5e5;
            margin: 20px 0;
        }

        html body>footer>form {
            zoom: 1;
        }

        html body>footer>form:before,html body>footer>form:after {
            content: "\0020";
            display: block;
            height: 0;
            overflow: hidden;
        }

        html body>footer>form:after {
            clear: both;
        }

        html body>footer>form>div {
            float: left;
            width: 48%;
        }

        html body>footer>form>div:last-child {
            float: right;
        }

        html body>footer>form>div label {
            display: none;
        }

        html body>footer>form>div input[type=email],html body>footer>form>div textarea {
            -webkit-appearance: none;
            border: 0;
            padding: 10px;
            margin-bottom: 20px;
            opacity: 0.5;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            width: 100%;
        }

        html body>footer>form>div textarea {
            height: 100px;
            resize: none;
        }

        html body>footer>form>div input[type=submit] {
            -webkit-appearance: none;
            background: transparent;
            width: 100%;
        }

        html body>footer>.social {
            margin-top: 40px;
        }

        @media only screen and (max-width: 619px) {
            html body>footer>header {
                padding-left: 20px;
                padding-right: 20px;
            }

            html body>footer>p {
                font-size: 18px;
                font-size: 1.8rem;
                line-height: 28.8px;
                line-height: 2.88rem;
                padding-left: 20px;
                padding-right: 20px;
            }

            html body>footer>form>div {
                padding: 0 20px;
                width: 100%;
            }

            html body>footer>form>div input[type=email],html body>footer>form>div textarea {
                font-size: 18px;
                font-size: 1.8rem;
                line-height: 28.8px;
                line-height: 2.88rem;
            }
        }

        html body>header {
            padding-bottom: 20px;
        }

        .summary {
            border-bottom: 2px solid rgba(255,255,255,0.5);
            padding-bottom: 70px;
            position: relative;
        }

        .summary>article {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 22.4px;
            line-height: 2.24rem;
        }

        .summary>article .body {
            color: #e5e5e5;
        }

        @media only screen and (max-width: 619px) {
            .summary {
                border-bottom: 0;
            }

            .summary>a {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .summary-blog>article {
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .summary-blog>article>header h2 {
            font-size: 21px;
            font-size: 2.1rem;
            line-height: 33.6px;
            line-height: 3.36rem;
            color: #ffffff;
            letter-spacing: 3px;
            line-height: 1.4;
            margin: 0;
        }

        .summary-blog>article>header h2 a {
            color: #ffffff;
        }

        .summary-blog>article>header>div {
            color: rgba(255,255,255,0.5);
        }

        .summary-blog>article:last-of-type {
            border-bottom: 0;
        }

        @media only screen and (max-width: 619px) {
            .summary-blog>article>.body>p {
                font-size: 18px;
                font-size: 1.8rem;
                line-height: 28.8px;
                line-height: 2.88rem;
            }
        }

        html body.archive>header {
            padding-top: 40px;
        }

        html body.archive>header h1 {
            margin: 0;
        }

        html body.archive>header h1 span {
            font-size: 40px;
            font-size: 4rem;
            line-height: 64px;
            line-height: 6.4rem;
            color: #ffffff;
            display: block;
            padding: 0 60px;
            margin: 0;
            text-align: center;
        }

        html body.archive .summary {
            zoom: 1;
        }

        html body.archive .summary:before,html body.archive .summary:after {
            content: "\0020";
            display: block;
            height: 0;
            overflow: hidden;
        }

        html body.archive .summary:after {
            clear: both;
        }

        html body.archive .summary:last-of-type {
            padding-bottom: 0;
        }

        @media only screen and (max-width: 619px) {
            html body.archive .summary {
                padding: 0 20px;
            }
        }

        html body.content>header {
            border-bottom: 3px solid rgba(255,255,255,0.5);
            padding-top: 40px;
            margin-bottom: 20px;
        }

        html body.content>header h1 {
            margin: 0;
        }

        html body.content>header h1 span {
            font-size: 40px;
            font-size: 4rem;
            line-height: 64px;
            line-height: 6.4rem;
            color: #ffffff;
            display: block;
            padding: 0 60px;
            margin: 0;
            text-align: center;
        }

        html body.content>header h1 span:first-child {
            font-size: 26px;
            font-size: 2.6rem;
            line-height: 41.6px;
            line-height: 4.16rem;
            color: rgba(255,255,255,0.5);
        }

        @media only screen and (max-width: 619px) {
            html body.content>header h1 span {
                font-size: 30px;
                font-size: 3rem;
                line-height: 48.0px;
                line-height: 4.8rem;
                color: #ffffff;
                padding: 0 20px;
            }

            html body.content>header h1 span:first-child {
                font-size: 20px;
                font-size: 2rem;
                line-height: 32px;
                line-height: 3.2rem;
            }
        }

        ul.social {
            font-family: fontello;
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

        ul.social li {
            display: inline-block;
            text-align: center;
            width: 10%;
        }

        ul.social li a {
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            display: inline;
            position: relative;
            text-decoration: none;
            text-align: center;
        }

        ul.social li a:before {
            font-size: 20px;
            font-size: 2rem;
            line-height: 10px;
            line-height: 1rem;
            color: rgba(255,255,255,0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-weight: normal;
            line-height: 30px;
            text-align: center;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

        ul.social li a[href*="twitter.com"]:before {
            content: '\e802';
        }

        ul.social li a[href*="linkedin.com"]:before {
            content: '\e801';
        }

        ul.social li a[href*="plus.google.com"]:before {
            content: '\e805';
        }

        ul.social li a[href*="github.com"]:before {
            content: '\e804';
        }

        ul.social li a[href*="skype:"]:before {
            content: '\e803';
        }

        ul.social li a span {
            display: none;
        }

        html > body img{
            max-width: 100%;
        }
    </style>
<% end %>
<% content_for :header do %>
<header>
    <h1>
      <span>Articles tagged</span>
      <span><%= tagname.titleize %></span>
    </h1>
</header>
<% end %>