html{

  body{

    &.article{


      iframe{
        margin-left: auto !important;
        margin-right: auto !important;
      }

      &.technology-behind-canthelpmyselfie{

        img.desktop{
          float: right;
          display: block;
          margin-left: 2%;
          width: 48%;

        }
      }
    }

  }
  
}