html{

  body{

    &.index{

      > header{

        .home{
          display: none;
        }

        p{
          padding-top: 110px;
          margin-bottom: 30px;
          margin-bottom: 30px;

          &:before{
            content: "";
            background: transparent  50% 50% no-repeat;
            background-image: image-url('/img/avatar_100x100.jpg');
            border-radius: 100px;
            border: 5px solid rgba(255,255,255, 0.5);
            height: 90px;
            position: absolute;
            transform: translateX(-50%);
            top: 0px;
            left: 50%;
            width: 90px;

          }

          span{
            @include font-size(2.6);
            color: rgba($white, 0.5);
            display: block;
            padding: 0 60px;

            &:first-child{
              @include font-size(4.0);
              color: $white;
            }
          }
        }
      }

      > .summary{
        width: 320px;

        &:nth-child(odd){
          float: right;
        }

        &:nth-child(even){
          float: left;
        }
      }


      @include small-only {
        &.index {
          > header {
            min-height: 450px;

            p {
              margin-bottom: 20px;

              &:before {

              }

              span {
                @include font-size(2.2);
                padding: 0 20px;
                text-align: left;

                &:first-child {
                  @include font-size(3.4);
                  text-align: center;
                }

                &:last-child {

                }
              }
            }

            ul.social {
              @include clearfix;
              margin-bottom: 0px;
              li {

                a {

                  &:before {
                    @include font-size(2.8)
                  }
                }
              }
            }
          }

          .summary {
            width: 100%;

            > article,
            > a {
              &:nth-of-type(n+3) {
                display: none;
              }
            }

          }
        }
      }

      @include small-landscape-only{
        &.index {
          > header {
            min-height: 350px;
          }
        }
      }

      @include medium{

        &.index {
          > .summary {
            height: 915px;
          }
        }
      }
    }
  }
}
