html{

  body{

    &.work{


      > div{
        &.masthead{
          background: transparent 50% 0% no-repeat;
          background-size: 680px 225px;
          border-radius: 3px;
          padding-bottom: 33%;
          opacity: 0.5;
        }


        &.body{
          margin-top: 20px;
          border-top: 3px solid rgba($white,0.5);

          .skills{
            @include clearfix;
            margin: 0;
            padding: 0;

            li{
              list-style-type: none;
              float: left;
              padding: 0;
              margin: 20px 2%;
              min-width: 31%;
              max-width: 48%;

              &:nth-child(odd){
                margin-left: 0;
              }

              &:nth-child(even){
                margin-right: 0;
              }



              &:before{
                @extend .svg-ruby;
                border: 5px solid rgba($white, 0.5);
                border-radius: 100%;
                background-size: 75% 75%;
                content: "";
                display: block;
                margin: 0 auto;
                width: 100px;
                height: 100px;
              }

              &.css{  &:before{ background-image: image-url('css3.svg')}}
              &.html{ &:before{ background-image: image-url('html5.svg')}}
              &.ruby{ &:before{ background-image: image-url('ruby.svg')}}

              h3{
                margin: 0;
                padding-bottom: 0;
              }
            }
          }
        }


        &.gallery{
          @include clearfix;


          ul{
            @include inline_list;
            padding-top: 10px;

            li{
              color: transparent;
              font-size: 0;
              margin: 0 10px;
              width: 155px;

              &:first-child{
                margin-left: 0;
              }

              &:last-child{
                margin-right: 0;
              }

              a{
                display: block;
                height: 155px;
                position: relative;

                &:before{
                  content: "";
                  border-radius: 3px;
                  background-size: 155px 155px;
                  height: 100%;
                  left: 0;
                  position: absolute;
                  top: 0;
                  transition: opacity 0.5s ease-out;
                  width: 100%;
                }

                &:hover,
                &:focus{
                  &:before{
                    opacity: 0.5
                  }
                }
              }
            }

          }
        }

      }


      @include small-only{

        > div{

          &.gallery{
            ul{
              padding: 20px;

              li{
                float: left;
                margin: 5px 5px !important;
                width: calc(50% - 10px);
              }
            }
          }
        }


      }

      @each $project in $project_list {

        &.#{$project}{
          > .masthead{
            background-image:  image-url('/img/work/#{$project}/masthead.jpg');
          }
          > .gallery{
            > ul{
              > li{
                @for $i from 1 through 4 {
                  &:nth-child(#{$i}) {
                    a {
                      &:before {
                        background-image: url(image-path('work/#{$project}/gallery_#{$i}_thumbnail.jpg'));
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}