---
title: INQ Mobile
description: Front end development of INQ's corporate site using HTML5, CSS3 and PerchCMS
tags: work, equipment
layout: work
client: Inq Mobile
work_title: Corporate Site
url: http://inqmobile.fearmediocrity.co.uk
published: true
---


<section class="about">
    <header>
        <h2>About this project.</h2>
    </header>

    <p>After creating sites for their core products, Material and SO.HO, INQ engaged Somewhat to create their corporate site.</p>

    <p>Created using the latest HTML5 and standards the end result had to be stylish and encapsulate the youthful essence of the INQ audience.</p>

    <p>As INQ's primary market was mobile the technical requirements were that that site be responsive, and have a low page load time.</p>

    <p>While initially a front end only project, we added Perch CMS to all staff at INQ to modify the page content with ease.</p>

    <a href="<%=current_article.data.url%>" class="button"><span>View this project</span></a>
</section>


<section class="about">
    <header>
        <h2>My Involvement</h2>
    </header>

    <p>I was the sole developer on this project, working directly with the client and designers.</p>

    <ul class="skills">

        <li class="html">
          <h3>Front End Development</h3>
          <p>Developed using the latest HTML5 and CSS3 standards the site was responsive and optimised for a short page load time.</p>
        </li>

        <li class="code">
            <h3>CMS Implmentation</h3>
            <p>Implmented the PHP based Perch CMS for editing content without editing code.</p>
        </li>
    </ul>
</section>