---
title: Material by INQ, responsive site.
description: Sample article description.
keywords: inq, material, responsive, parallax, scrolling, front-end, developer
layout: work
client: Inq Mobile
work_title: Material Responsive Site
url: http://material.fearmediocrity.co.uk
published: false
---

<% content_for(:byline) do%>whilst working with <a href="http://somewhat.cc" rel="nofollow">Somewhat</a><% end %>

<section class="about">
    <header>
        <h2>About this project.</h2>
    </header>

    <p></p>

    <a href="<%=current_article.data.url%>" class="button"><span>View this project</span></a>

</section>


<section class="about">
  <header>
    <h2>My Involvement</h2>
  </header>

  <p>I was the sole developer on this project, working directly with the client and designers.</p>

  <ul class="skills">

    <li class="html">
      <h3>Front End Development</h3>
      <p>Developed using the latest HTML5 and CSS3 standards the site was responsive and optimised for a short page load time.</p>
    </li>

    <li class="code">
      <h3>CMS Implmentation</h3>
      <p>Implmented the PHP based Perch CMS for editing content without editing code.</p>
    </li>
  </ul>
</section>