---
title: INQ Mobile
description: Sample article description.
tags: work, equipment
layout: work
client: Inq Mobile
work_title: Corporate Site
published: false
---


<section class="about">
    <header>
        <h2>About this project.</h2>
    </header>

    <p></p>

</section>


<section class="about">
    <header>
        <h2>My Involvement</h2>
    </header>

    <p></p>

    <ul>
        <li>
            <h3>Ruby on Rails Application</h3>
            <p>The bulk of the web development was a Ruby on Rails 4.1 app.</p>
        </li>

        <li>
            <h3>Front End Development</h3>
            <p>Developed using the latest HTML5 and CSS3 standards the site was responsive and optimised for a short page load time.</p>
        </li>
    </ul>
</section>

<section class="others">
    <header>
        <h2>Others</h2>
    </header>

    <p>This work was completed whilst working with Somewhat, and wouldn't be possible without the following:</p>

    <ul>
        <li>

        </li>
    </ul>
</section>