---
title: Tesco Academy
description: Sample article description.
tags: work, equipment
layout: work
client: Tesco
work_title: Academy Web App
---

<section class="about">
    <header>
        <h2>About this project.</h2>
    </header>

    <p>In late 2013, Tesco approached Somewhat with a prototype web app they had made internally for staff training. The wanted to restyle and develop the prototype in to a completed web app for roll out to their 500,000 staff.</p>

    <p>The primary platform for the web app was to be mobile devices, but tablet and desktop use was also a major factor.</p>
</section>


<section class="about">
    <header>
        <h2>My Involvement</h2>
    </header>

    <p>I was the lead / main developer on the project.</p>

    <ul>
        <li>
            <h3>Ruby on Rails Application</h3>
            <p>The system was a multilingual CMS developed using Ruby on Rails 4.1. It integrated with a database of Tesco Employee and store information to ensure limited access.</p>
        </li>

        <li>
            <h3>Front End Development</h3>
            <p>Developed using the latest HTML5 and CSS3 standards the site was responsive and optimised for a short load time.</p>
        </li>
    </ul>
</section>

<section class="others">
    <header>
        <h2>Others</h2>
    </header>

    <p>This work was completed whilst working with Somewhat, and wouldn't be possible without the following:</p>

    <ul>
        <li>

        </li>
    </ul>
</section>

