---
title: "French Connection - #CANTHELPMYSELFIE Campaign"
description: "Interactive shop front and web campaign to highlight the French Connection Spring / Summer 2014 range. Built with Ruby on Rails, HTML5, Node.js and native OSX and Android applications."
keywords: ruby, ruby on rails, french connection, selfie, campaign, developer
layout: work
client: French Connection
work_title: "#CANTHELPMYSELFIE"
url: http://selfie.frenchconnection.com
gallery: true
---

<section class="about">
  <header>
    <h2>About this project.</h2>
  </header>

  <p>In early 2014 French Connection engaged Somewhat to create a campaign for their Spring / Summer collection.</p>

  <p>The campaign was to run in their London stores, along with online and social media elements.</p>

  <p>The result launched as #CANTHELPMYSELFIE in May 2014. The campaign encouraged patrons to use a special booth to take selfies whilst modeling the latest fashions.</p>

  <p>Once submitted the participants would photos would be on display in the store front, and on the website to compete for votes.</p>

  <p>The campaign was a success, and had it's run extended to tour around other French Connection stores in the UK.</p>

  <a href="<%=current_article.data.url%>" class="button"><span>View this project</span></a>
</section>


<section class="about">
  <header>
    <h2>My Involvement</h2>
  </header>

  <p>The project came in many parts, from an Android App to take the photos to a Node.js app for real time voting. I was the main web developer on the project, and was responsible for:</p>

  <ul class="skills">
    <li class="ruby">
      <h3>Ruby on Rails Application</h3>
      <p>The bulk of the web development was a Ruby on Rails 4.1 app.</p>
    </li>

    <li class="html">
      <h3>Front End Development</h3>
      <p>Developed using the latest HTML5 and CSS3 standards the site was responsive and optimised for a short page load time.</p>
    </li>
  </ul>
</section>

<!--<section class="others">-->
  <!--<header>-->
    <!--<h2>Others</h2>-->
  <!--</header>-->

  <!--<p>This work was completed whilst working with Somewhat, and wouldn't be possible without the following:</p>-->

  <!--<ul>-->
    <!--<li>-->

    <!--</li>-->
  <!--</ul>-->
<!--</section>-->